.search {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  padding: 2rem 0.5rem;
  overflow-y: auto;
  min-width: 15rem;
}

.content {
  width: clamp(25rem, 60%, 50rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.searchForm {
  background-color: transparent;
  display: flex;
  border-radius: 1rem;
  border: 0.2rem solid var(--main-color);
  padding-right: 1rem;
  align-items: center;
}

.searchInput {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 1rem 0 0 1rem;
  color: var(--main-color);
  background-color: transparent;

  font-size: 1rem;
  width: 100%;
  resize: none;
  outline: none;
}

.searchUser {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.searchButton {
  background-color: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.searchIcon {
  width: 2rem;
  height: 2rem;
  fill: none;
  stroke: var(--main-color);
  stroke-width: 0.1rem;
}

@media (max-width: 560px) {
  .content {
    width: clamp(15rem, auto, 100%);
  }
}

/* ------------------------------------- User */

.usersList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userLink {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr 1fr;
  column-gap: 1rem;
  flex: 3;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  grid-row: 1 / span 2;
}

.userName {
  grid-column: 2 / span 2;
  font-size: 1.2rem;
  align-self: center;
}

.userDescription {
  font-size: 1rem;
  align-self: center;
}

.button {
  height: 20px;
}
