@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-color: #212529;
  --main-color-2: #495057;
  --main-color-white: #f8f9fa;
  --color-gray: #ced4da;
  --main-color-opacity: hsla(210, 11%, 15%, 0.1);
}

.dark--mode {
  --main-color: #f8f9fa;
  --main-color-2: #ced4da;
  --main-color-white: #212529;
  --color-gray: #ced4da;
  --main-color-opacity: hsla(210, 17%, 98%, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  color: var(--main-color);
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: auto;
  background-color: var(--main-color-white);
}
